@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .img-shadow {
        filter: drop-shadow(40px 50px 25px #0f1115);
    }
    .img-shodow2 {
        filter: drop-shadow(10px 30px 15px #3030307a);
    }
}

@layer components {
    .primary-btn {
        @apply bg-primary px-4 py-1 font-semibold text-black hover:bg-amber-500 hover:shadow-xl hover:text-black hover:contrast-150 duration-100 ease-in-out inline-block rounded-2xl
    }
}

.no-select {
    user-select: none;
  }
  